<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
        <add key="HOME" value="d:\IronFoundry\apps\rmann3ASPX-0-52f5879894b64d07bfe695618c528a0c" />
        <add key="VCAP_APPLICATION" value="{'instance_id':165,'instance_index':0,'name':'rmann3ASPX','uris':['rmann3aspx.fefoundry.cps.intel.com'],'users':['rmann7@gmail.com'],'version':'ec09b28624ed3d184a5d95e2b11fa7aca0b3cd94-2','runtime':'aspdotnet40'}" />
        <add key="VCAP_SERVICES" value="{'mssql-10.50.2500':{'name':'msSQL-rmann3','type':'generic','label':'mssql-10.50.2500','vendor':'mssql','version':'10.50.2500','tags':['mssql','SQL Server 2008 R2','relational'],'plan':'free','plan_option':null,'credentials':{'name':'dbdc8067189f14d03a29607b4ff1d7353','hostname':'127.0.0.1','host':'127.0.0.1','port':0,'user':'uegx9h7HOIhNx','username':'uegx9h7HOIhNx','password':'penzfmf90BuJa'}}}" />
        <add key="VCAP_APP_HOST" value="10.9.177.229" />
    </appSettings>

    <connectionStrings>
        <add name="Default" connectionString="Data Source=rmann3-mobl2\sql01;Initial Catalog=TestDeployTarget;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off"/>


    </system.web>

</configuration>
